* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body {
    background-color: #2e7d32;
    color:#fff;
}

header {
    background-color: #000;
    display: flex;
    justify-content: center;
}

header img.logo {
    width: 250px;
    height: 60px; 
}

h1 {
    font-size: 38px;
    border-radius: 7px;
}

h1.resultadoConversao{
    font-size: 38px;
    border-radius: 7px;
}

p {
    font-size: 20px;
}

h1,
p {
    display: block;
    background-color: #000000a1;
    color: #fff;
    text-align: center;
    font-family:monospace;
}

main {
    width: 650px;
    height: 300px;
    background-color: #0000002f;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px 10px 30px 10px;
}

.contents {
    padding: 20px;
}


div.input {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

input#valorEmReal {
    height: 35px;
    font-size: 18px;
    border-radius: 7px;
    border: none;
    width: 85%;
    margin-top: 5px;
}

.group-moedas {
    width: 85%;
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 25px;
}

.btn {
    display: flex;
    justify-content: center;
}

button {
    color: #fff;
    background: #00ff0a;
    height: 35px;
    width: 100px;
    font-size: 20px;
    font-family: cursive;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s all;
    margin-bottom: 30px;
}

button:hover {
    background: #00ff0a00;
    transition: .5s all;
}